tmpoc-api/src/main/resources/prodcat.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE prodcat [
<!ELEMENT prodcat (product*)>
<!ELEMENT product (name, composition)>
<!ELEMENT name EMPTY>
<!ELEMENT composition ((atomicProduct|resource)+, composition*)>
<!ELEMENT atomicProduct EMPTY>
<!ELEMENT resource EMPTY>
]>

<!ATTLIST product
	id ID #REQUIRED
>

<!ATTLIST composition
	type (include|mutex)