tmpoc-api/src/main/resources/wsdl/ws_CIL_5_PaymentArrangementsReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/paymentarrangementsread"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:import namespace="http://lhsgroup.com/lhsws/money"/><xs:element name="paymentArrangementsReadRequest" type="wsi:paymentArrangementsReadRequest"/><xs:element name="paymentArrangementsReadResponse" type="wsi:paymentArrangementsReadResponse"/><xs:complexType name="listOfPaymentArrangementsListpartResponse"><xs:all><xs:element minOccurs="0" name="cspId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Payment arrangement (payment) identifier.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspSeqno" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> sequence number </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspPmntId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> payment-type id </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspPmntIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the payment method</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspAccno" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> account number </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspAccowner" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> account owner </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankcode" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> subaccount number </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> bank name </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankzip" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> zipcode of the bank-address </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankcity" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> city of the bank-address </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankstreet" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> street name of the bank address </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspCcagCode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> credit card agency code </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspCcagCodePub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the financial institute.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspCcvaliddt" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> valid date of the credit card (MMYY) </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspCeiling" type="money:money"><xs:annotation><xs:documentation>
													<![CDATA[<p> ceiling amount for credit card payments </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankstate" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> state of bank address </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankcounty" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> county of bank address </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspOrdernumber" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> order number </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankstreetno" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> street number of the bank address </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankcountry" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p> country of the bank/ccag </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspBankcountryPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the country</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspSwiftcode" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> international bank identifier </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspActUsed" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>Flag indicating, that this is the actually used payment arrangement </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="cspValidFrom" type="xs:date"><xs:annotation><xs:documentation>
													<![CDATA[<p>Valid from date</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="authOk" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p> authorization is ok </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="authDate" type="xs:dateTime"><xs:annotation><xs:documentation>
													<![CDATA[<p> Date for authorization </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="authNo" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Credit card authorization code </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="authCredit" type="money:money"><xs:annotation><xs:documentation>
													<![CDATA[<p> Credit for authorization </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="authTn" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Phone number of authorization </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="authRemark" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Authorization remark </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>internal BSCS customer id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Customers public key</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="listOfPaymentArrangementsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:listOfPaymentArrangementsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="paymentArrangementsReadResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p></p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="listOfPaymentArrangements" type="wsi:listOfPaymentArrangementsResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a customer with the public or private key.</p><p>Mandatory if no other customer-related command containing this information (such as <code>CUSTOMER.READ</code>) has been executed before.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="flagCurrent" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Flag returning the current payment arrangement of the customer. Default is false, meaning all payment arrangements are returned.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> internal BSCS customer id </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="paymentArrangementsReadRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="paymentArrangementsReadRequest">
    <wsdl:part element="sch3:paymentArrangementsReadRequest" name="paymentArrangementsReadRequest"/>
  </wsdl:message>
  <wsdl:message name="paymentArrangementsReadResponse">
    <wsdl:part element="sch3:paymentArrangementsReadResponse" name="paymentArrangementsReadResponse"/>
  </wsdl:message>
  <wsdl:portType name="PaymentArrangementsReadService">
    <wsdl:operation name="paymentArrangementsRead">
      <wsdl:input message="tns:paymentArrangementsReadRequest" name="paymentArrangementsReadRequest"/>
      <wsdl:output message="tns:paymentArrangementsReadResponse" name="paymentArrangementsReadResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentArrangementsReadServiceSoap11" type="tns:PaymentArrangementsReadService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="paymentArrangementsRead">
      <soap:operation soapAction=""/>
      <wsdl:input name="paymentArrangementsReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="paymentArrangementsReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentArrangementsReadService">
    <wsdl:port binding="tns:PaymentArrangementsReadServiceSoap11" name="PaymentArrangementsReadServiceSoap11">
      <soap:address location="/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>