tmpoc-api/src/main/resources/wsdl/ws_CIL_5_ServicePackagesReadService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/servicepackagesread" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/servicepackagesread" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/servicepackagesread"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="servicePackagesReadRequest" type="wsi:servicePackagesReadRequest"/><xs:element name="servicePackagesReadResponse" type="wsi:servicePackagesReadResponse"/><xs:complexType name="numSpListpartResponse"><xs:all><xs:element minOccurs="0" name="spcode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Service package code</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="spcodePub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the service package</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="spShdes" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Service package short description</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="spDes" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Service package description</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="pdeServicePackage" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>Flag to indicate whether Service Package is inserted by the mapping component.
													<ul><li>True = Service package is inserted by mapping component</li><li>False = Service package is not inserted by mapping component.</li></ul>
													</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="atomicServicePackage" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>Flag to indicate whether Service Package is atomic.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="numSpResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:numSpListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="servicePackagesReadResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a rateplan by the public or private key.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Rateplan code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="numSp" type="wsi:numSpResponse"/></xs:all></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies an external product with the public or private key. Use instead of RPCODE.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Rateplan code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="extProductId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>id of external product</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="extProductIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the external product</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="servicePackagesReadRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="servicePackagesReadRequest">
    <wsdl:part element="sch3:servicePackagesReadRequest" name="servicePackagesReadRequest"/>
  </wsdl:message>
  <wsdl:message name="servicePackagesReadResponse">
    <wsdl:part element="sch3:servicePackagesReadResponse" name="servicePackagesReadResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServicePackagesReadService">
    <wsdl:operation name="servicePackagesRead">
      <wsdl:input message="tns:servicePackagesReadRequest" name="servicePackagesReadRequest"/>
      <wsdl:output message="tns:servicePackagesReadResponse" name="servicePackagesReadResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicePackagesReadServiceSoap11" type="tns:ServicePackagesReadService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="servicePackagesRead">
      <soap:operation soapAction=""/>
      <wsdl:input name="servicePackagesReadRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="servicePackagesReadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePackagesReadService">
    <wsdl:port binding="tns:ServicePackagesReadServiceSoap11" name="ServicePackagesReadServiceSoap11">
      <soap:address location="/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>