tmpoc-api/src/main/resources/wsdl/ws_CIL_5_ContractsSearchService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:sch2="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:sch3="http://ericsson.com/services/ws_CIL_5/contractssearch" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ericsson.com/services/ws_CIL_5" targetNamespace="http://ericsson.com/services/ws_CIL_5">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money"><xs:complexType name="money"><xs:sequence><xs:element name="amount" type="xs:double"/><xs:element name="currency" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany"><xs:complexType name="svlany"><xs:sequence><xs:element name="content" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/sessionchange"><xs:complexType name="valuesListpartRequest"><xs:all><xs:element name="key" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p> Name of the value that shall be changed. See release dependent documentation for supported keys</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element name="value" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>New value for a named value.</p>]]>
											</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="valuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest"/></xs:sequence></xs:complexType><xs:complexType name="sessionChangeRequest"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>
						
						</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="values" type="wsi:valuesRequest"/></xs:all></xs:complexType></xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_5/sessionchange" xmlns:wsi="http://ericsson.com/services/ws_CIL_5/contractssearch" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_5/contractssearch"><xs:import namespace="http://ericsson.com/services/ws_CIL_5/sessionchange"/><xs:element name="contractsSearchRequest" type="wsi:contractsSearchRequest"/><xs:element name="contractsSearchResponse" type="wsi:contractsSearchResponse"/><xs:complexType name="salesChannelsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="salesChannel" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="dirnumBlocksListpartResponse"><xs:all><xs:element minOccurs="0" name="lowerExt" type="xs:string"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Lower extension of directory number block</p>]]>
																	</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="upperExt" type="xs:string"><xs:annotation><xs:documentation>
																			<![CDATA[<p>Upper extension of directory number block</p>]]>
																	</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="dirnumBlocksResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:dirnumBlocksListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="contractsListpartResponse"><xs:all><xs:element minOccurs="0" name="contractTypeId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Contract type id.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="foreignPlcode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Foreign network code</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="homeBidGroupId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Home BIG group id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="foreignBidGroupId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Foreign BIG group id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lecCoId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Local exchange carrier contract id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lecCoIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the external carrier contract</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="buId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Identifier of the business unit assigned to the contract</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coStatus" type="xs:integer"><xs:annotation><xs:documentation>
													<![CDATA[<p>Contract status</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCode" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Customer code of the contract holder</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Directory number</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnumBlocks" type="wsi:dirnumBlocksResponse"/><xs:element minOccurs="0" name="adrFname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>First name as defined in the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrLname" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Last name as defined in the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrName" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Company name</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrStreet" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>street of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrStreetno" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>street no of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrZip" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Zip code of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCity" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>City of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="submId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>TechnologyFlavour (SubMarket code)</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="plcode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>NetworkId</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coType" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Type of the contract:
													<ul><li>M = Main contract</li><li>R = Related contract</li><li>null = Regular contract</li></ul> </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="vpnId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>The VPN id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalind" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>This flag indicates if the contract is Prepaid or Postpaid</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>TMCODE</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coActivated" type="xs:date"><xs:annotation><xs:documentation>
													<![CDATA[<p>Activation date of Contract</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="portNum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Port number of service</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="smNum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Serial number of the storage medium</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="devPortNum" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Port number of the contract device</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Contract id </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the contract</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="mainCoId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Id of main contract </p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="mainCoIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the main contract</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Customer Id</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Customers public key</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="description" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Description of the contract.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="currentDn" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>Indicates TRUE if the DN is currently assigned to this contract, else FALSE.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dnPending" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>Indicates TRUE if there is a pending directory number change request DN for the directory number DIRNUM; otherwise FALSE.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="markedForRerating" type="xs:boolean"><xs:annotation><xs:documentation>
													<![CDATA[<p>Indicates whether the contract is marked as a candidate for re-rating</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Id of a dealer assigned to the contract. Only delivered for the <code>PrepaidContractTemplates</code> searcher.</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentResp" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>payment responsibility</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csContrResp" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>contract responsibility</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentMethodInd" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Payment method of the corresponding rateplan
													<ul><li>P : Postpaid</li><li>A : Prepaid</li><li>H : Hybrid</li></ul>
													</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coTemplateId" type="xs:long"><xs:annotation><xs:documentation>
													<![CDATA[<p>Template id from which the contract was created</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coTemplateIdPub" type="xs:string"><xs:annotation><xs:documentation>
													<![CDATA[<p>Public key of the template from which the contract was created</p>]]>
											</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="salesChannels" type="wsi:salesChannelsResponse"/></xs:all></xs:complexType><xs:complexType name="contractsResponse"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="wsi:contractsListpartResponse"/></xs:sequence></xs:complexType><xs:complexType name="contractsSearchResponse"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>A list of all contracts that match with the criteria specified in the in-parameters.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="contracts" type="wsi:contractsResponse"/><xs:element minOccurs="0" name="searchIsComplete" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>flag indicating if search was completed.</p><p>This flag will be set to false if more rows than specified in Srch_Count are available in the database</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="parameterValuesRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="typesRequest"><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="contractTypeId" type="xs:long"/></xs:sequence></xs:complexType><xs:complexType name="inputAttributes"><xs:all><xs:annotation><xs:documentation>
						<![CDATA[<p>Identifies a shared account package by the public or private key.</p><p>This parameter is mandatory when SEARCHER is set with SharedAccountContractSearch to search contracts for participant assignment.</p>]]>
				</xs:documentation></xs:annotation><xs:element minOccurs="0" name="partyType" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>party type identifier. <ul><li>"C" : cusotmer</li><li>"B" : business partner</li><li>"O" : operator</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="contractTypeId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract type id.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="types" type="wsi:typesRequest"/><xs:element minOccurs="0" name="excludeSubscriberContracts" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>If this flag is set to true, then contracts of type "S" should be excluded from the search result.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="foreignPlcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Foreign network code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="foreignPlcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the network</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lecCoId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Local exchange carrier contract id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lecCoIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the external carrier contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ignoreBuInd" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p> Flag determines if result contains only contracts with the current business unit or all business units valid for the user</p><p> The login business unit is ingnored if value is true, default false</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="searcher" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>This argument will be used if the client wants to use/create another searcher in the registry for searching for contracts.</p><p>The default searcher is "Contract Search" which  finds the contracts with services and directory numbers assigned.</p><p>If you want to use another scenario, you must specified it in the <code>Registry_CMS_Contract.xml</code>, and call this command with the new created searcher name
							as the value for this argument.</p><p>The defined new searchers are listed as follows:
							<ul><li>"SimpleContractSearch"</li><li>"SearchContractsEvenWithoutServicesAndDN"</li><li>"SearchContractsEvenWithoutDN"</li><li>"SearchContractsEvenWithoutServices"</li><li>"ContentProviderContractSearch"</li><li>"ContractSearchWithoutHistory"</li><li>"ContractSearchWithHistory"</li><li>"SearchLastContractForDnPorting"</li><li>"CustomerAndOptionalContractSearch"</li><li>"SharedAccountContractSearch"</li><li>"PrepaidContractTemplates"</li><li>"SearchContractsEvenWithoutServicesWithoutDealerRestriction"</li><li>"PendingRatePlanContractSearch"</li><li>"SearchContractsByResource"</li></ul>
							</p><p>For using one of these searchers, the client  must call the command passing as value for <code>SEARCHER</code> one of these
							strings. The difference is in the way the contracts are searched.</p><p>Using any of  these searcher, the searching operation might be slower than the default one.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coUser" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>The user that last has made the modification</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coStatus" type="xs:integer"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract status</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer code of the contract holder</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>customer status</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealerid" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Id of a dealer assigned to the contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csDealeridPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Dealers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="smNum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Serial number of the storage medium, in GSM this is the SIM number. Only if the SIM number is specified as input it is available in the output as well.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="related" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Flag for searching related and main contracts.
							<ul><li>R - only related contracts are returned.</li><li>M - only main contracts are returned.</li><li>N - only not related contracts are returned. That are main and regular contracts.</li><li>C - only contracts that are neither related nor main are returned.</li><li>not set - type related or main is not considered as search criteria</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="portNum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Port number of service, only used in service driven markets.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="devPortNum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Port number of the contract device, in GSM this is the IMSI.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sncode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Service code (ProductElement)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sncodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the service</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coPofu" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Pooled free units (POFU) contract</p><p>This criteria indicates if the search must consider the contracts with free unit services or contract without
							free unit services dependent on the value of <code>CO_POFU</code>.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Composite product (Rate plan code)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rpcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the rateplan</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentMethodInd" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Filter criteria payment method, if not given then contracts returned regardless of payment method of the rateplan
							<ul><li>P : Postpaid</li><li>A : Prepaid</li><li>H : Hybrid</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sccode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Technology (Market code)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sccodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the market</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="dirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Directory number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="mainDirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Main directory number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="billNo" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Bill number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="useInstallationAddress" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>If this input parameter is set to true, all the address parameters (both input and output) represent informaion regarding the installation address.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrName" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Name as defined in the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrFname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>First name as defined in the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrLname" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Last name as defined in the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrStreet" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>street of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrStreetno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>street no of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrZip" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Zip code of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCity" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>City of the bill/installation address, depending on the <code>USE_INSTALLATION_ADDRESS</code> input parameter.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrEmail" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>email address</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrBirthdt" type="xs:date"><xs:annotation><xs:documentation>
							<![CDATA[<p>birth date</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrSocialseno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>social security number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrDrivelicence" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>driving licence number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrPassportno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>identification document number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrCompno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>company registration number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrTaxno" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>tax registration number</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="adrState" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p> state of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="countryId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p> country id of the postal address </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="countryIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the country</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="submId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>TechnologyFlavour (SubMarket code)</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="submIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the submarket</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="plcode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>NetworkId</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="plcodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the network</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="lowerExt" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Lower extension of directory number block</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="upperExt" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Upper extension of directory number block</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="srchCount" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Size of result set</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="linkedPublicDirnum" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Linked Public Directory Number (MSISDN) </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="vpnId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>VPN code</p><p>The VPN code is used when searching for VPN Contracts:
							<ul><li>If the criteria <code>VPN_SUBSCRIBER</code> has the value true, the data for the VPN Subscriber Contract is returned</li><li>If <code>VPN_SUBSCRIBER</code> = false or not specified, the Contracts representing internal or external membership to the VPN are returned. Only Private Directory Numbers are returned</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="vpnIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the VPN</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="vpnSubscriber" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>This criteria indicates if the search must consider</p><p>only the VPN Subscriber contract. If it is "True", the VPN_ID is mandatory</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="externalind" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>This criteria indicates if the search returns only Prepaid or only Postpaid contracts</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="laMemberContract" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>If the criteria is set, it indicates whether the search returns contracts belonging (True) or not belonging (False) to LA members.</p><p>No indication is considered in case of Unset.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="flagCase" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>case sensitive search.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="flagMatchcode" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>If set to true a matchcode search for the lastname will be executed.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="description" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Just evaluated in case of searching for contract templates</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="coIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customer Id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Customers public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="startIndex" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Specifies how many entries in the output should be skipped. Together with the <code>SRCH_COUNT</code> parameter it provides a
							paging in the result set of a search. E.g. if the parameter is set to 50 and <code>SRCH_COUNT</code> is set to 20, this command provides the entries 51 to 70 of the query.
							If not passed the command provides the search result 1 up to <code>SRCH_COUNT</code>.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="nonPendingOnly" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Used to indicate that no contracts with pending requests in MDSRRTAB should be returned.</p><p>This is currently only supported for the following searchers:<ul><li>SearchContractsEvenWithoutServices</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="callDetail" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates if individual calls should be displayed on call detail statement.
							<ul><li>P = call detail statement is created on request only.</li><li>R = in addition to P periodically within billing cycle related call detail statement generation requests</li><li>A = all contracts, that have either value P or R set.</li><li>null = no call detail statement can be created
							</li></ul></p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="markedForRerating" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates contracts to search:
							<ul><li>unset - all contracts</li><li>TRUE - contracts that are marked as candidates for re-rating</li><li>FALSE - contracts that are not marked as candidates for re-rating </li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="bscsContract" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>Indicates contracts to search:
							<ul><li>unset - all contracts</li><li>TRUE - Exclude CS contracts</li><li>FALSE - all customers</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="familyId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Family id of the customer the contract belongs to. This parameter is used for retrieving contributed contracts.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csLevelCode" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>customer level (Use the '!' sign for logical 'NOT')  e.g. 0,1,2,!1,...</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="paymentResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>enable Payment Responsible search</p><p>If set to true then only payment responsible customers are searched and if set to false then only not payment responsible customers searched. No restriction in case of Unset </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="csContrResp" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>enable Contract Responsible search</p><p>If set to true then only Contract responsible customers are searched and if set to false then only not Contract responsible customers searched. No restriction in case of Unset </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rootCsId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Id of a LA structure root</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="rootCsIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>LA structure root public key</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="fuPackId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Free Unit package code, if the code is given, only this free unit package is selected</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="fuPackIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the free unit package</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="fuCoId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Contract id</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="fuCoIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the contract</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="fuSncode" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Service code</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="fuSncodePub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Public key of the service</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="snStatus" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>Status of the service. Domain:  A (active), D (deactivate), S (suspended in a contract), O (initial value, on-hold status). </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="notInServiceCriteria" type="xs:boolean"><xs:annotation><xs:documentation>
							<![CDATA[<p>If true, excludes contracts that satisfies given service criteria (SNCODE and SN_STATUS). </p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="prmId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>Parameter identifier.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="parameterValues" type="wsi:parameterValuesRequest"/><xs:element minOccurs="0" name="salesChannel" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>For contract template search, optional sales channel filter.</p><p>Values are:
							<ul><li>ADMX - Subscription installation (batch)</li><li>SX - SX</li><li>LA - Large accounts</li><li>RapidAct - Rapid activation</li><li>CRM - Ericsson Telecom CRM</li></ul>
							</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ownerCoId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>The contract id of shared account owner.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="ownerCoIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>The public key of shared account owner contract.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sharedAccountPackageId" type="xs:long"><xs:annotation><xs:documentation>
							<![CDATA[<p>The shared account package identifier.</p>]]>
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="sharedAccountPackageIdPub" type="xs:string"><xs:annotation><xs:documentation>
							<![CDATA[<p>The shared account package short description, used as public key.</p>]]>
					</xs:documentation></xs:annotation></xs:element></xs:all></xs:complexType><xs:complexType name="contractsSearchRequest"><xs:all><xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes"/><xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest"/></xs:all></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="contractsSearchRequest">
    <wsdl:part element="sch3:contractsSearchRequest" name="contractsSearchRequest"/>
  </wsdl:message>
  <wsdl:message name="contractsSearchResponse">
    <wsdl:part element="sch3:contractsSearchResponse" name="contractsSearchResponse"/>
  </wsdl:message>
  <wsdl:portType name="ContractsSearchService">
    <wsdl:operation name="contractsSearch">
      <wsdl:input message="tns:contractsSearchRequest" name="contractsSearchRequest"/>
      <wsdl:output message="tns:contractsSearchResponse" name="contractsSearchResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractsSearchServiceSoap11" type="tns:ContractsSearchService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="contractsSearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="contractsSearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="contractsSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractsSearchService">
    <wsdl:port binding="tns:ContractsSearchServiceSoap11" name="ContractsSearchServiceSoap11">
      <soap:address location="/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>