tmpoc-api/src/main/resources/META-INF/prodcat.dtd

<!ELEMENT prodcat (product*)>
<!ELEMENT product (name, composition+)>
<!ELEMENT name EMPTY>
<!ELEMENT composition ((atomicProduct|resource)+, composition*)>
<!ELEMENT atomicProduct EMPTY>
<!ELEMENT resource EMPTY>

<!ATTLIST product
	id ID #REQUIRED
	discoverable (true|false) #REQUIRED
>

<!ATTLIST composition
	type (include|mutex) #REQUIRED
>

<!ATTLIST atomicProduct
	id IDREF #REQUIRED
>

<!ATTLIST resource
	id CDATA #REQUIRED
>