tmpoc-api/src/main/resources/META-INF/prodcat.dtd

<!ELEMENT prodcat (product*)>
<!ELEMENT product (name, description?, composition+, price+,  meta*)>
<!ELEMENT name EMPTY>
<!ELEMENT description EMPTY>
<!ELEMENT composition ((atomicProduct|resource)+, composition*)>
<!-- <!ELEMENT commercial (isoCurrencyCode, amount)> -->
<!ELEMENT commercial EMPTY>
<!ELEMENT prodMeta EMPTY>
<!ELEMENT atomicProduct EMPTY>
<!ELEMENT resource EMPTY>

<!ATTLIST product
	id ID #REQUIRED
	discoverable (true|false) #REQUIRED
>

<!ATTLIST composition
	type (include|mutex) #REQUIRED
>

<!ATTLIST commercial
	isoCurrencyCode CDATA #REQUIRED
>

<!ATTLIST prodMeta
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ATTLIST atomicProduct
	id IDREF #REQUIRED
>

<!ATTLIST resource
	id CDATA #REQUIRED
>